@import '../../../_variables.scss';

.container {
    background-color: $secondary-color;
    border-radius: $item-border-radius;
    width: 100%;
    height: 60px;
    padding: 20px;
    box-shadow: $component-shadow;
    position: relative;
    margin-bottom: 10px;
}
