<div *ngIf="showModal" class="background-container">
    <form class="inner-container" [formGroup]="transactionForm" (ngSubmit)="saveTransaction()">
        <h4 *ngIf="isAdd">New {{transaction.type | capitalize}}</h4>
        <div>
            <h6>Description</h6>
            <input type="text" class="attribute-container" id="description" formControlName="description">
        </div>

        <div>
            <h6>Amount</h6>
            <input type="number" class="attribute-container" id="amount" formControlName="amount">
        </div>

        <div>
            <h6 *ngIf="trans.isExpense(transaction!) || trans.isBudget(transaction!); else isIncome">Category</h6>
            <ng-template #isIncome><h6>Source</h6></ng-template>
            <select id="myDropdown" formControlName="category" class="attribute-container">
                <option *ngFor="let category of categories" value="category">{{category}}</option>
            </select>
        </div>
        
        <div>
            <div *ngIf="trans.isBudget(transaction); else isExpenseOrIncome">
                <div class="row">
                    <h6>Start Date</h6>
                    <h6>End Date</h6>
                </div>
                <div class="row">
                    <input type="date" class="attribute-container" id="startDate" formControlName="startDate">
                    <input type="date" class="attribute-container" id="endDate" formControlName="endDate">
                </div>
            </div>
    
            <ng-template #isExpenseOrIncome>
                <h6>Date</h6>
                <input type="date" class="attribute-container" id="date" formControlName="date">
            </ng-template>
        </div>

        <div class="row buttons">
            <button type="button" (click)="closeModal()">Close</button>
            <button *ngIf="!isAdd" type="button" (click)="removeTransaction()">Remove</button>
            <button (click)="saveTransaction()">Save</button>
        </div>
    </form>
</div>