<div class="container">
    <h2 class="total">Total {{ list.type }}: {{ totalAmount | currency:'EUR':'symbol':'1.2-2' }}</h2>
    <div class="search-bar item-widget-container">
        <span class="search-icon"></span>
        <input type="search" placeholder="Search..." [(ngModel)]="searchTerm" (input)="applyFilter()">
    </div> 
    <h2>{{list.type | capitalize}}s</h2>
    <div class="item-container" *ngIf="filteredList.data.length > 0; else noFindings">
        <app-item-widget *ngFor="let item of filteredList.data" [transaction]="item" (onTotalChanged)="getTotalFromChild($event)"></app-item-widget>
    </div>
    <ng-template #noFindings>
        <div class="noFindings">No transactions found.</div>
    </ng-template>
    <button class="add-button" (click)="openModal()">Add</button>
</div>
<app-detail-widget [transaction]="newTransaction" [showModal]="showModal" [isAdd]="true" (onClose)="closeModal($event)"></app-detail-widget>

