@import '_variables.scss';
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

html, body {
    font-family: $app-font-family;
    background-color: $body-bg;
    color: $primary-color;
    margin: 0;
}

input, textarea, button {
    font-family: $app-font-family;
}

button {
    background-color: $secondary-color;
    color: $dark-color;
    border-radius: $item-border-radius;
    border: none;
    font-size: $button-font-size;
    padding: 10px;
    transition: box-shadow 0.3s ease;
    box-shadow: $default-shadow;
    cursor: pointer;
    font-weight: $button-search-bar-weight;

    &:hover {
        box-shadow: $component-shadow;
    }
}